<div class="ingreso">
  <h2 class="ingreso_titulo">Ingresos</h2>
     
      
      <div *ngFor="let ingreso of ingresos" class="elemento limpiarEstilos">
          <div class="elemento_descripcion">{{ingreso.descripcion}}</div>
          <div class="right limpiarEstilos">
              <div class="elemento_valor">+ {{ingreso.valor | currency:'MNX':'$':'1.2-2'}}</div>
              <div class="elemento_eliminar">
                  <button class="elemento_eliminar--btn">
                      <i class="ion-ios-close-outline" (click)="eliminarRegistro(ingreso)"></i>
                  </button>
              </div>
          </div>
      </div>      
</div>